{% extends "base.html" %}

{% block content %}
    <div id="signup-modal">
        <div class="modal-content">
            <h2 class="logo-font mb-4">Subscribe for Our Newsletter</h2>
            <h5 class="mb-4">to hear about our new products and exclusive offers!</h5>
            <form method="POST" action="{% url 'newsletter' %}" class="form mb-2" id="signup-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-right">
                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-black rounded-0" id="cancel-button">Cancel</a>
                    <button class="btn btn-black rounded-0" type="submit">Subscribe</button>
                </div>
            </form>
                
        </div>
    </div>
{% endblock %}