{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>   
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Scent Selection: {{ scent_profile.name }}</h2>
                <hr class="w-50 mb-1">
                <div id="chosen-scent-container">
                    <div id="chosen-scent-opener">You have chosen: <span id="chosen-scent-name">{{ scent_profile.name }}</span></div>
                    <br>
                    <div id="chosen-scent">{{ scent_profile.description }}</div>
                    <br>
                    <div id="chosen-scent-try">Here are some hand-selected products that you may like to try.</div>
                    
                    {% for productscent in ProductScents %}
                            <div>
                                <h3>{{ productscent.name }} - £{{ productscent.price }}</h3>
                                <ul>
                                    {% for product in productscent.products.all %}
                                        <li>
                                            {% if product.image %}
                                                <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 100px; max-height: 100px;">
                                            {% else %}
                                                <p>No image available</p>
                                            {% endif %}
                                            <div>{{ product.name }} - £{{ product.price }}</div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    
                    <!-- <div class="row"> -->
                        <!-- {% for productscent in ProductScents %} -->
                            <!-- {% for product in productscent.products.all %} -->
                                <!-- <div class="col-md-4 mb-4"> -->
                                    <!-- <div class="card"> -->
                                        <!-- <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/no_image_available.png' %}{% endif %}" class="card-img-top" alt="{{ product.name }}"> -->
                                        <!-- <div class="card-body"> -->
                                            <!-- <h5 class="card-title">{{ product.name }}</h5> -->
                                            <!-- <p class="card-text">£{{ product.price }}</p> -->
                                            <!-- <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Buy</a> -->
                                        <!-- </div> -->
                                    <!-- </div> -->
                                <!-- </div> -->
                            <!-- {% endfor %} -->
                        <!-- {% endfor %} -->
                    <!-- </div> -->

                </div>
            </div>
        </div>
    </div>
{% endblock %}
