{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Which scent do you prefer?</h2>
                <hr class="w-50 mb-1">
                <form method="post" action="{% url 'scentquiz' %}">
                  {% csrf_token %}
                  {% for question in questions %}
                    <h3>{{ question.text }}</h3>
                    <ul>
                      {% for option in question.scentoption_set.all %}
                        <li>
                          <input type="radio" id="option_{{ option.id }}" name="question_{{ question.id }}" value="{{ option.id }}">
                          <label for="option_{{ option.id }}">{{ option.text }}</label>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endfor %}
                  <button type="submit">Submit</button>
                </form>
                
            </div>
        </div>
    </div>
{% endblock %}

